@model IEnumerable<AIRLINE_.WEBAPP.Areas.Identity.Data.ApplicationUser>

<h1 class="text-center">All New Requests</h1>

<hr class="makebolder"/>

@if (Model.Count() == 0)
{
    <table class="table table-striped table-bordered table-info">
        <thead>
            <tr class="text-center text-success">
                <th>No New Requests To Display !</th>
            </tr>
        </thead>
    </table>
}
else{
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th class="text-center text-danger">Username</th>
                <th class="text-center text-danger">Pan number</th>
                <th class="text-center text-danger">Action</th>
            </tr>
        </thead>
        <tbody id="EmployeeList">
            @foreach (var user in Model)
            {
                <tr id="row_@user.Id">
                    <td class="text-info text-center">@user.UserName</td>
                    <td class="text-info text-center">@user.PanNumber</td>
                    <td class="text-center">
                        <button id="@user.Id @user.UserName" value="True" class="btn btn-outline-success buttonSelector">Approve</button>
                        <button id="@user.Id @user.UserName" value="Fail" class="btn btn-outline-danger buttonSelector">Reject</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript">

    $(document).ready(function () {
        
        //debugger;

        $(".buttonSelector").click(function () {

            var printMessage;
            var status = $(this).val();
            var usernameIdArray = $(this).attr('id').split(" ");
            var id = usernameIdArray[0];
            var userName = usernameIdArray[1];

            if(status == "Fail"){
                printMessage = "Reject request of username " + userName + " ?";
            }else{                                               
                printMessage = "Approve request of username " + userName + " ?";
            }
            swal({
                title: ' '+ printMessage + ' ',
                text: "Once confirmed, you will not be able to undo this action!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                closeOnClickOutside: false,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: "Put",
                        url: appBaseURL + '/admin/ApproveOrReject',
                        data: { userId: id, status: status }, //use id here
                        dataType: "json",
                        success: function (response) {

                            swal("Processing your request....", {
                                buttons: false,
                                timer: 1000,
                                closeOnClickOutside: false,
                            });

                            $("#row_" + id).remove();

                        },
                        failure: function (response) {
                            console.log(response.responseText);
                            console.log("Failure");
                        },
                        error: function (response) {
                            console.log(response);
                            console.log("Error");
                        }
                    });
                }
            });
        });
    });

</script>
